<%- include('includes/head.ejs') %> <%- include('includes/navigation.ejs') %>

<div class="container-fluid">
  <main class="text-center home">
    <img src="/image/welcome.png" class="img-fluid rounded-start home-image" />
    <div class="home-content">
      <h1>Chào Mừng Bạn Đến Với Công Ty</h1>
      <h2>Xin Mời Chọn Tác Vụ</h2>
    </div>
  </main>
</div>

<%- include('includes/end.ejs') %>
