<%- include('includes/head.ejs') %>
    <%- include('includes/navigation.ejs') %>
        <%-include('includes/workingButton.ejs')%>
        <div class="attendance-info">
            <h3 class="attendance-info__title">Tên Nhân Viên</h3>
            <p class="attendance-info__text">

            </p>
            <h3 class="attendance-info__title">Nơi Làm Việc</h3>
            <p class="attendance-info__text">

            </p>
            <h3 class="attendance-info__title">Giờ Bắt Đầu</h3>
            <p class="attendance-info__text">

            </p>
            <h3 class="attendance-info__title">Chúc Bạn Làm Việc Vui Vẻ</h3>
        </div>
        </div>
    <%- include('includes/end.ejs')%>